MAIL_ADAPTER_TOKEN=
MAIL_ADAPTER_FROM=cms@example.com
MAIL_ADAPTER_TO=owner@example.com
MAIL_ADAPTER_SMTP_HOST=smtp.example.com
MAIL_ADAPTER_SMTP_PORT=587
MAIL_ADAPTER_SMTP_USER=
MAIL_ADAPTER_SMTP_PASSWORD=
